APP_NAME=Generic CRUD API
APP_ENV=local
DEBUG=true

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/database_name

ALLOWED_TABLES=er_reg_employees,er_reg_employee_emails,er_reg_employee_bozp_files,er_reg_employee_types
DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100

API_PREFIX=/api/v1
